*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
}

/*----HEADER (NAVBAR) SECTION CSS---*/

.header{
    background-color:black;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:400px;
}

nav div img{
    width:70px;
    height:70px;
    border-radius:50%;
    margin-top:5px;
    margin-left:450px;
}

nav ul li{
    list-style:none;
    display:inline-block;
    position:relative;
}

.nav_bar_text li{
    padding:30px;
}

nav .nav_bar_text li a{
    color:#fff;
    text-decoration: none;
}

.nav_bar_text li ul.nav_dropdown{
    width:100%;
    background:black;
    z-index:999;
    display:none;
    position:absolute;
    margin-left:-32px;
    margin-top: 30px;
    font-size:15px;
    text-align: center;
}

.nav_bar_text li a:hover{
    background:black;
}

.nav_bar_text li:hover ul.nav_dropdown{
    display:block;
}

nav .nav_bar_icons li a img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

/*----ABOUT ME SECTION CSS---*/

.about_me{
    position:absolute;
    top:175px;
    left:450px;
}

.about_me_content{
    display:flex;
    justify-content: center;
    margin-right:300px; 
}

.about_me_text p:first-of-type{
    font-style:italic;
    font:12px;
    padding-left:2px;
}

.about_me_text p:nth-of-type(2){
    line-height: 33px;
}

.about_me_content img{
    width:300px;
    height:300px;
    border:12px ridge #D3D3D3;
    border-radius:5px;
    margin-left:50px;
    margin-top:18px;
}

.about_me ul li{
    list-style:none;
    display:inline-block;
    justify-content:space-between;
}

.about_me ul li img{
    border-radius:5px;
    width:200px;
    height:200px;
    margin-left:30px;
    margin-top:70px;
    border: 12px ridge #D3D3D3;
}


/*----LINEBREAK (DIVIDER) CSS---*/

hr {
    margin:50px 200px 0px -200px;
    box-shadow:0px 0px 10px 1px black;
    border:0;
    height:0;
}

/*----MINDSET SECTION CSS---*/

.mindset{
    position:absolute;
    top:950px;
    left:450px;
}

.mindset_content{
    display:flex;
    justify-content: center;
    margin-right:300px; 
}

.mindset_text{
    margin-right:5px;
}

.mindset_text p:first-of-type{
    font-style:italic;
    font:12px;
    padding-left:2px;
}

.mindset_text p:nth-of-type(2){
    line-height: 33px;
}

.mindset_content img{
    width:300px;
    height:300px;
    border-radius:20px;
    border: 12px ridge #D3D3D3;
    margin-right:50px;
    margin-top:18px;
}

/*----THE FUTURE SECTION CSS---*/

.the_future{
    position:absolute;
    top:1425px;
    left:450px;
}

.the_future_content{
    display:flex;
    justify-content: center;
    margin-right:300px; 
}


.the_future_text p:first-of-type{
    font-style:italic;
    font:12px;
    padding-left:2px;
}

.the_future_text p:nth-of-type(2){
    line-height: 33px;
}

.the_future_content img{
    width:300px;
    height:300px;
    border-radius:20px;
    border: 12px ridge #D3D3D3;
    margin-top:18px;
    margin-left:50px;
}

/*----COMPLETION LOG CSS---*/

.completion_log_content{
    margin:100px;
}

.completion_log_content h1{
    text-align:center;
}

.completion_log_content p{
    text-align:center;
    font-style:italic;
}

.completion_log_content ul li h2{
    text-align:center;
    margin-bottom:20px;
}

.CL_first_ul{
    margin-top: 100px;
}

.CL_first_ul li{
    list-style:none;
    display:inline-block;
    position:relative;
}

.CL_first_ul li img{
    height:625px;
    width:420px;
    border-radius:0%;
    object-fit:cover;
}

.CL_second_ul{
    margin-top: 100px;
}

.CL_second_ul li{
    list-style:none;
    display:inline-block;
    position:relative;
}

.CL_second_ul li img{
    height:625px;
    width:420px;
    border-radius:0%;
    object-fit:fill;
}